@{
    ViewData["Title"] = "Sign in";
}

@section Scripts{
    <script>
        function SignIn() {


            var username = $("#userName").val();
            var password = $("#password").val();
            var model = { UserName: username, Password: password };

            $.ajax({
                url: "https://localhost:7206/api/Login",
                type: "POST",
                contentType: "application/json;",
                data: JSON.stringify(model),
                success: function (result) {
                    console.log(result);
                    if (result > -1) {
                        window.location.href = "/Account/Index/" + result;
                    }

                },
                error: function (err) {
                    alert('Username or password is wrong.');
                }
            });
        }

        function Register() {
            var name = $("#name").val();
            var lastname = $("#lastName").val();
            var username = $("#ruserName").val();
            var mail = $("#mail").val();
            var password = $("#rpassword").val();
            var model = { UserName: username, Name: name, Lastname: lastname, Mail: mail, Password: password };

            $.ajax({
                url: "https://localhost:7206/api/Register",
                type: "POST",
                contentType: "application/json;",
                data: JSON.stringify(model),
                success: function (result) {
                    $("#registerModal").modal("hide");
                    alert('Registration is completed. Yo can sign in with your username and password.');

                },
                error: function (err) {
                    alert('Something went wrong.');
                }
            });
        }
    </script>
}


<div class="container text-center">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="loginForm">
                <div class="mb-6">
                    <label for="userName" class="form-label" style="text-align:left">User Name</label>
                    <input type="text" class="form-control" id="userName">

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="text-align:left">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <button type="button" class="btn btn-primary" onclick="SignIn();">Sign in</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registerForm">
                    <div class="mb-6">
                        <label for="userName" class="form-label" style="text-align:left">User Name</label>
                        <input type="text" class="form-control" id="ruserName">

                    </div>
                    <div class="mb-6">
                        <label for="name" class="form-label" style="text-align:left">Name</label>
                        <input type="text" class="form-control" id="name">

                    </div>
                    <div class="mb-6">
                        <label for="lastName" class="form-label" style="text-align:left">Lastname</label>
                        <input type="text" class="form-control" id="lastName">

                    </div>
                    <div class="mb-6">
                        <label for="mail" class="form-label" style="text-align:left">Mail</label>
                        <input type="mail" class="form-control" id="mail">

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" style="text-align:left">Password</label>
                        <input type="password" class="form-control" id="rpassword">
                    </div>

                    <button type="button" class="btn btn-primary" onclick="Register()">Register</button>

                </form>
            </div>

        </div>
    </div>
</div>

